<nav class="navbar navbar-default topnav" id="card-header" role="navigation">
    <div class="navbar-header hiden-xs">
      <%= link_to root_path, class: "navbar-brand" do  %>
        <%= image_tag "system/gerald.gif", class: "gerald", alt: "Сервер екіпажів"%>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Сервер екіпажів", root_path, class: "brand-name" %></li>
    </ul>
</nav>
