<div id="map-container">
  <div id="map-canvas"></div>
</div>
<script>

/**
**            Map initializing
**/

  var map = new GMaps({
    el: '#map-canvas',
    lat: 50.27,
    lng: 30.3125,
    zoom: 10,
    disableDefaultUI: true
  });

/**
**              Autocomplete function for live search
**/

  $("#search_query").autocomplete({
    source: function (request, response) {
       var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
       var array = $.grep(<%= raw @cars.to_json %>, function (value) {          // Get all crew from list, that already listed in the first request
           return matcher.test(value.car_name) || matcher.test(value.car_number);
       });
       response(array);
    },
    select: function (event, ui) {
      $.ajax({                                                                  // Get fresh information about crew's position
        type: 'GET',
        url: '/cars/' + ui.item.id,
        async: true,
        beforeSend: function (xhr) {
          if (xhr && xhr.overrideMimeType) {
            xhr.overrideMimeType('application/json;charset=utf-8');
          }
        },
        dataType: 'json',
        success: function (data) {
          $("#search_query").val("Екіпаж " + ui.item.car_name + ", держ. знак " + ui.item.car_number);
          move_map_to(data.latitude, data.longitude);
        }
      });
    }
  }).data("uiAutocomplete")._renderItem = function(ul, item) {
      return $("<li></li>").data("item.autocomplete", item).append("<a>Екіпаж " + item.car_name +  ", держ. знак " + item.car_number + "</a>").appendTo(ul);
  };
</script>
