.card-element {
  height: 60px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 2px 3px 5px 0px  rgba(0,0,0,0.2);
  background-color: white;
}

.card-row {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
  padding: 5px 15px 5px 15px;
}

#card-header {
  border-radius: 0%;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.panel {
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 0px;
  padding: 5px 15px 5px 15px;
}

.gerald {
  margin-top: -13px;
  height: 46px;
}

.spacing-fix {
  padding: 0px;
}

.panel-heading {
  padding-left: 0px;
  padding-right: 0px;
}

.panel-body {
  padding: 5px 10px 0px 10px;
}

ul > .panel-body {
  margin-left: 0px;
}

.properties-list {
  list-style-type: none;
  padding-left: 0px;
}

.broken-car {
  color: red;
}

.search-panel {
  height: 50px;
  width: 60%;
  padding: 11px 15px 0px 15px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 0px;
  border: 1px solid transparent;
  margin-top: 1px;
  margin-bottom: 1px;
  display: none;
  position: absolute;
}

.search-form {
  width: 100%;
  border: 0px;
  outline: 0px;
  background: transparent;
  border-bottom: 1px solid #d3d3d3;
}

.search-form:focus {
  border-bottom: 1px solid #a8a8a8;
}

#list-header {
  margin-bottom: 25px;
}

a:focus {
    outline: 0;
}

#map-container {
  width: 100%;
  position: fixed;
  height: 100vh;
}

#map-canvas {
  min-width: 100%;
  z-index: 3;
  height: 100%;
  position: absolute;
}
