/**
**            Cards and pannels
**/

.card-row {                                                                     // Row of crews
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
  padding: 5px 15px 5px 15px;
}

#card-header {                                                                  // Header in row of crews
  border-radius: 0%;
  background-color: white;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.card-element {                                                                 // Crew element
  height: 60px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 2px 3px 5px 0px  rgba(0,0,0,0.2);
  background-color: white;
}

.list-over-map {
  z-index: 1;
}

.panel {                                                                        // Pannel of crew with sliding-down
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 0px;
  padding: 5px 15px 5px 15px;
}

.panel-heading {
  padding-left: 0px;
  padding-right: 0px;
}

.panel-body {
  padding: 5px 10px 0px 10px;
}

ul > .panel-body {
  margin-left: 0px;
}

.properties-list {                                                              // Data in pannels
  list-style-type: none;
  padding-left: 0px;
}

.broken-car {                                                                   // Label for broken cars
  color: red;
}


/**
**          Search pannel
**/

.search-panel {
  height: 50px;
  width: 60%;
  padding: 11px 15px 0px 15px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 0px;
  border: 1px solid transparent;
  margin-top: 1px;
  margin-bottom: 1px;
  display: none;
  position: absolute;
}

.search-form {
  width: 100%;
  border: 0px;
  outline: 0px;
  background: transparent;
  border-bottom: 1px solid #d3d3d3;
}

.search-form:focus {
  border-bottom: 1px solid #a8a8a8;
}

.ui-state-focus {
  background: #d3d3d3 !important;
  border: 1px solid #d3d3d3 !important;
  text-decoration: none !important;
}

.ui-widget-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid white ;
}

.ui-menu-item {
  border: 0px;
  text-decoration: none;
}

/**
**          Map settings
**/

#map-container {
  width: 100%;
  position: fixed;
  height: 100vh;
}

#map-canvas {
  width: 100%;
  z-index: 3;
  height: 100%;
  position: absolute;
}

/**
**            Other
**/

#list-header {
  margin-bottom: 25px;
}

a:focus {
  outline: 0;
}



.gerald {
  margin-top: -13px;
  height: 46px;
}

.spacing-fix {
  padding: 0px;
}

.crew-item {
  cursor: pointer;
}
